@font-face {
    font-weight: 400 785;
    font-family: 'Inter-Variable';
    font-display: swap;
    src:
      url('./Inter-Variable.woff2') format('woff2 supports variations'),
      url('./Inter-Variable.woff2') format('woff2-variations');
}